* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

@font-face {
    font-family: 'Kumbh Sans Regular', sans-serif;
    src: url('../font/KumbhSans-Regular.ttf');
    
}
@font-face {
    font-family: 'Kumbh Sans SemiBold', sans-serif;
    src: url('../font/KumbhSans-SemiBold.ttf');
   
}

@font-face {
    font-family: "News706";
    src: url('../font/NEWS706B.ttf') format('truetype'); /* putanja do fonta */
    /* Dodajte ostale format opcije ako su vam potrebne (woff, woff2, etc.) */
}
@media (prefers-color-scheme: dark) {
    .hero-elements h1 {
         color: #E9CC6F ;
        
         
     }
     .hero-elements h3 {
         color: #BFA065;
        
         
     }
 }
h1 {
    font-size: 200px;
    background: linear-gradient(180deg, #FCF5A3 0%, #F3E189 25%, #E9CC6F 50%, #BC9D63 75%, #6B5636 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'News706';
    font-weight: 800;
    line-height: 201px;
    letter-spacing: 12px;
    margin-top: -30px;
    padding: 0 10px;
}
h3 {
    font-family: 'Kumbh Sans SemiBold', sans-serif;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.46em;
    background: linear-gradient(180deg, #624F31 0%, #BFA065 46.21%, #FEFAAA 100%),
linear-gradient(0deg, #FFFCAC, #FFFCAC);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    margin-top: -10px;
}
main {
    background: linear-gradient(180deg, #4C0000 52.14%, #B90000 100%);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
  }

.hero {
    background-image: url(../images/hero.png) ;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;



}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 560px;
}
.hero-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-elements a {
    text-align: center;
}
.wrapper {
 
    width: 55%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.logo {
    margin: 20px 0;
}
.text-box-1 {
    padding: 20px 0 0 0;
}
.text-box-1 p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    text-align: center;
    color: #FFFCAC;
    text-transform: uppercase;

}
.text-box-1 h4 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(0deg, #FFFCAC, #FFFCAC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px 0;
}

.text-box-2 p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    text-align: center;
    color: #fff;
}
.icons {
    margin: 120px auto 113px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 96%;
    gap: 70px;
}
.icons img {
    height: 100px;
    margin-bottom: 20px;
    filter: drop-shadow(8px 15px 20px rgba(0, 0, 0, 0.25));
    opacity: 0.85;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.icons img:hover {
    transform: scale(1.1); 
    opacity: 1; 
}

.icon-box {
   
    max-width: 100%; 
    box-sizing: border-box; 
    padding: 0 15px; 
    text-align: center; 
}
.icon-box p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #ebce6fc9;

}

.text-box-3 p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    text-align: center;
    color: #fff;
}

.ranking-system {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0px;
    background-color: #4C0000;
}
/*RANKING STYLINF*/
.head {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(67.25deg, rgba(191, 160, 101, 0.85) 2.87%, rgba(235, 206, 111, 0.85) 36.7%, rgba(235, 206, 111, 0.85) 66.63%, rgba(191, 160, 101, 0.85) 94.98%);
    color: #4C0000;
    font-family: Kumbh Sans, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px 10px 10px 15px;
    width: 100%;
    display: block;
}
.box {
 
    width: 30%; 
    height: 24rem; 
    max-width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.25) 8px 15px 20px 0px;   
    border-radius: 20px;
    background: linear-gradient(180deg, #760000 35.21%, #A60303 100%);
}
.body-box {
    padding: 1rem;
  
}
.prise p {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #EBCE6F;
    margin-bottom: 0.5rem;
}
.deposit p {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.list-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.list li {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 0.6rem;
}
/*POPUP STYLING*/

#popup {
    display: none;
}

#close-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
    width: 3%;
    height: auto;
}

.popup-active {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease; /* Tranzicija za opacity */
}

.popup-content {
    display: none;
}

.popup-content-active {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #A60303 20.22%, #760000 79.69%);

    border-radius: 2rem;
    width: 30%;
    height: auto;
    overflow: hidden;
    border: 2px solid #EBCE6F;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease; /* Tranzicija za opacity */
}

.popup-box {
    text-align: center;
}

.popup-box img {
    height: 67px;
    text-align: center;
    box-shadow: 5px 10px 15px 0px #00000040;
}

.popup-box h2 {
    font-size: 28px;
    font-weight: 400;
    color: #EBCE6F;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
}

.popup-box p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.popup-active.show,
.popup-content-active.show {
    display: block;
    opacity: 1;
}
/*FOOTER STYLING*/
footer {
    height: auto;
    text-indent: 0;
    background-color: #2F0104;
  }


  #footer-wrapper {
    height: auto;
    padding-bottom: 0px;
  }

  #footer-payments {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 2rem;
  }

  #footer-payments img {
    height: 30px !important;
    margin: 5px 10px;
    opacity: 0.5;
  }

  #footer-links {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-color: #4C0000;
    padding: 2rem;
  }

  #footer-links a {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 10px;
    color: #ccc;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }

  #footer-clubs {
    display: flex;
  }
  #footer-clubs img {
    margin: 20px auto;
    width: 70%;
    height: auto;
  }
  #footer-links a:hover {
    color: #fff;
  }
#footer-payments a {
display: inline-block;
}
  #social {
    display: block;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    text-align: center;
    background-color: #4C0000;
  }

  #social .wrapper-social {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
  }

  #social .wrapper-social a {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-indent: -9999px;
    opacity: 0.5;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  #social .wrapper--social a:hover {
    opacity: 1;
  }

  #social .wrapper-social a span {
    display: block;
    width: 32px;
    height: 32px;
  }

  #social .wrapper-social .facebook span {
    background: url(https://meridianbet.me/assets-new/images/deposit/footer/social/facebook.svg)
      no-repeat center center;
    background-size: 16px !important;
  }

  #social .wrapper-social .tiktok span {
    background: url(https://meridianbet.me/assets-new/images/deposit/footer/social/tiktok.svg) no-repeat center center;
    background-size: auto 32px !important;
}

  #social .wrapper-social .instagram span {
    background: url(https://meridianbet.me/assets-new/images/deposit/footer/social/instagram.svg)
      no-repeat center center;
    background-size: 32px !important;
  } 

  #social .wrapper-social .xLogo span {
    background: url(https://meridianbet.me/assets-new/images/deposit/footer/social/X_logo.svg) no-repeat center center;
    background-size: 32px !important;
}
 
  #social .wrapper-social .youtube span {
    background: url(https://meridianbet.me/assets-new/images/deposit/footer/social/youtube.svg)
      no-repeat center center;
    background-size: 32px !important;
  }

  #social .wrapper-social .linkedin span {
    background: url(https://meridianbet.me/assets-new/images/deposit/footer/social/linkedin.svg) no-repeat center center;
    background-size: 32px !important;
}
  #authority {
    display: block;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    color: #666;
    text-align: center;
  }

  #authority > img {
    height: 30px;
    opacity: 0.5;
  }

  #legal {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: rgb(204, 204, 204);
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
  }

  #legal a {
    color: rgb(204, 204, 204);
    text-decoration: none;
  }

  /*RESPONSIVE DESIGN */
  @media screen and (min-width: 2000px) {
    .hero {
        background-image: url(../images/hero.png);
        max-height: 100%;
        height: 1426px;
    }
    .icons {
      
        width: 45%;
    }
    .wrapper {
        width: 65%;
    }
    .text-box-2 {
        width: 60%;
    margin: 0 auto;
    }
    .text-box-3 {
        width: 60%;
    margin: 0 auto;
    }
  }
  @media screen and (max-width: 1700px) {
    .popup-content-active {
        width: 40%;
    }

  }
  @media screen and (max-width: 1500px) {
    .popup-content-active {
        width: 55%;
    }
    .text-box-1 {
        padding: 130px 20px 0 20px;;
    }
    .wrapper {
        width: 65%;
    }
    .logo {
        width: 60%;
    }
    h1 {
        font-size: 115px;
        line-height: 120px;
    }
    h3 {
        font-size: 35px;
        line-height: 38px;
    }
    .hero-wrapper {
        gap: 300px;
    }
  }
  @media screen and (max-width: 1200px) {
   
    .wrapper {
        width: 80%;
    }

  }
  @media screen and (max-width: 964px) {
      .logo {
          width: 50%;
      }
      .crown {
          width: 90px;
          margin-bottom: 10px;
      }
     
    h1 {
        font-size: 100px;      
        line-height: 102px;
          padding: 0 10px;
      
    }
    h3 {
        font-size: 27px;
        line-height: 28px;
        letter-spacing: 0.45em;
    }
    .text-box-1 {
        width: 90%;
        padding: 35px 0 0 0;
    }
  
    .text-box-1 h4 {
        font-size: 26px;
        line-height: 27px;
        margin: 20px 0;
    }
    .wrapper {
        width: 90%;
        margin: 0px auto 0 auto;
        padding-bottom: 100px;
    }
  
    .icons {
        margin: 100px auto 113px auto;

    }
    .popup-box img {
        height: 60px;
    }
    #close-btn {
        width: 5%;
    }
    .popup-content-active {
        padding: 1.5rem;
    }
    .ranking-system {
        flex-direction: column;
    }
    .box {
        width: 50%;
    }
  }
  @media screen and (max-width: 540px){
    .popup-content-active {
        width: 95%;
        padding: 1.5rem;
    }
    .popup-box {
        padding: 2rem;
    }
    .wrapper {

        margin: 150px auto 0 auto;

    }
    .popup-box h2 {
        font-size: 24px;
    }
    .box {
        width: 70%;
    }
    .prise p {
        font-size: 16px;
    }
    .hero {
        background-image: url(../images/hero-mob.png);
        max-height: 100%;
        height: 800px;
        
    }
    .hero-wrapper {
  
        gap: 570px;
     }
   
}
@media screen and (max-width: 490px){
    .hero-wrapper {
  
        gap: 450px;
     }
     .wrapper {

        margin: 30px auto 0 auto;

    }
}
  @media screen and (max-width: 376px) {
    .wrapper {
        margin: 75px auto 0 auto;
    }
    .text-box-1 h4 {
        font-size: 26px;
        line-height: 27px;
        margin: 33px 0;
    }
   
    .popup-box {
        padding: 1.5rem;
    }
  }



